.w-25{
    width: 25;
}
.w-30{
    width: 30;
}
.justify-content-between{
    justify-content: space-between;
}


.py-1{
    padding-top: 1%;
    padding-bottom: 1%;
}
.img-fluid{
    max-width: 100%;
}
nav img{
    max-height: 4rem;
    object-fit: cover;
}
#searchbar{
    border: 0.5px solid black;
    border-radius: 1.4rem;
    padding: 1.2% 0 ;
}
.form-input{
    border: none;
    outline: none;
    width: 90%;


}